<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>Associated Domains</key>
	<array>
		<string>Default Link Domain in Link Settings in Branch.io</string>
		<string>Alternate Link Domain in Link Settings in Branch.io</string>
	</array>
</dict>
</plist>
